
@{
    ViewData["Title"] = "Chatting";
}


<head>
   
</head>

<body>
    <nav class="nav navbar-default">
        <div class="navbar-brand">
            <span style="float:right;">username</span>
        </div>
    </nav>
    <br />
    <div class="clearfix"></div>
    @using (Html.BeginForm())
    {
        <div class="container">
            <div class="row">

            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <select id="ddlfriend" name="ddlfriend" class="form-control">
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" name="txtmsg" id="txtmsg" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="button" value="send" class="btn btn-success" name="btnsend" id="btnsend" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <div class="panel-title">
                                Messages
                            </div>
                            <div class="panel-footer" style="min-height:400px;">
                                <div id="divmsg">
                                    inside div
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div>

    </div>
</body>